# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

.npmrc
# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite
/user.json
/session.json

# next.js
/.next/
/apps/*/.next/
/.next-web/
/.next-cms/
/out/
/output/
next-env.d.ts

# production
/build
/.deploy/
.deploy.env

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea

/public/img/uploads/posts

.cursorrules

fwqgo.com

7d103d60e34c489ca909b9ffcba3897f.txt

/tests

.claude

.agents

/output/imagegen
